name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python --version
          pip install poetry
          poetry install
      - name: Run pylint
        run: |
          poetry run pylint --fail-under=8 --good-names=ax sugikey

  testing:
    runs-on: ubuntu-latest
    needs: linting
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python --version
          pip install poetry
          poetry install
      - name: Run pytest with coverage
        run: |
          poetry run coverage run -m pytest
          poetry run coverage report -m
      - name: Upload coverage report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: .coverage
        if: always()

  